<% @flats.each do |flat| %>
  <%= link_to flat_path(flat['id']) do %>
    <div class="card">
      <img src="<%= flat['imageUrl'] %>" width="200" height="100%">
      <h3><%= flat["name"] %></h3>
    </div>
  <% end %>
<% end %>